<style>
  #logo {
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 250px;
    width: 12%;
  }
</style>
<a href="#"><img id="logo" src="{{ .Param "logo.src" }}" alt="{{ .Param "logo.alt" }}"></a>