
/* Couleurs BVBR */ 
.bleu { color:#0061af !important; }
.bleu-2 { color:#3c9cd7 !important; }
.vert { color:#1aae4b !important; }
.vert-2 { color:#00eb4e !important; }
.rose { color:#ff34a2 !important; }
.jaune { color: #fddd04 !important; }
.orange { color: #ff8d00 !important; }
.rouge { color: #ff0038 !important; }


.custom em{
    color: #a32843
}

.custom code{
    color: #ff2f86
}

.customjs {
    background-color: #504e9e
}

.reveal section figure img {
  border:0;
  box-shadow: none;
}

.reveal section img {
  border:0;
  box-shadow: none;
}

.reveal section img .center {
  display: block;
margin-left: auto;
margin-right: auto;
}


.reveal figcaption h4 {
  font-size: 1em;
}

/* Own stuff */
.center-img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.reveal section img.right, .reveal section img[src*="#right"] {
  float:right;
  width: 30%;
}

.reveal section img.half, .reveal section img[src*="#half"] {
  width: 50%;
}


h6 {
  text-align: left;
padding-top: 15px;}
