{{- $adress := .Get "url" -}}
{{- $champs := split $adress "-" -}}
{{- $id := index $champs (sub (len $champs) 1) -}}

<!-- TrimLeft Not working ..?
    <p>id: {{- strings.TrimLeft "a" "stay-strong-baby-gif-5435525" -}}</p>
-->
<div class="tenor-gif-embed {{ if .Get "class" }}{{ .Get "class" }}{{ else }}center-img{{ end }}" data-postid="{{ $id }}" data-share-method="host" data-width="{{ if .Get "width" }}{{ .Get "width" }}{{ else }}30%{{ end }}" 
     data-aspect-ratio="{{ if .Get "ratio" }}{{ .Get "ratio" }}{{ else }}1.0{{ end }}">
    <a href="{{ $adress }}">{{ if .Get "title" }}{{ .Get "title" }}{{ else }}{{ $adress }}{{ end }}</a>
</div>
<script type="text/javascript" async src="https://tenor.com/embed.js"></script>
